<%- include("header", {title: 'Home'}) %>
<div class="grid h-screen"> 
    <div class="rounded px-10 py-5 bg-grey-100 dark:bg-grey-700 border-2 border-grey-300 dark:border-grey-900 place-self-center">
        <h1 class="text-xl font-bold mb-auto">404 Page not found</h1>
    </div>

</div>
<%- include("footer") %> 