<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/tailwind.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

    </head>
    <body class="bg-white dark:bg-grey-800 text-grey-900 dark:text-white">